{% load crispy_forms_tags %} # crispy-forms는 Django 폼을 더 깔끔하고 쉽게 스타일링할 수 있는 패키지입니다. 이 태그를 사용하면 폼 필드를 자동으로 부트스트랩 스타일로 렌더링할 수 있습니다.

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/> # 부트스트랩의 최신 버전인 5.3.2를 CDN을 통해 로드
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script> 

<div class="container my-3"> # 폼을 감싸는 <div> 요소로, container 클래스를 사용하여 페이지의 중앙에 컨텐츠가 위치하도록 하고, my-3 클래스를 사용하여 위아래 마진을 설정
{#    <form action="" method="post" novalidate>#}
        {% crispy form form.helper %} # form.helper는 CrispyFormHelper 객체를 사용하여 폼에 대한 추가적인 설정을 제공합니다. crispy 태그는 자동으로 각 필드의 HTML을 생성하고, 부트스트랩의 스타일링을 적용
{#    </form>#}
</div>
